{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Chick-fil-A Assistant
      {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    <header>
      <div>
        <h1>Chick-fil-A Assistant</h1>
        <p>Ask about our menu, locations, hours, etc.</p>
      </div>
    </header>

    {% block content %}
    {% endblock %}

    {% block extra_scripts %}
    {% endblock %}
  </body>
</html>
